:root{
    --bs-link-color: white;
    --bs-green: #1abc9c;
    --bs-success: #1abc9c;
    --bs-success-rgb: 26, 188, 156;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 3rem 0;
    text-align: center;
}

h3 {
    font-size: 1rem ;
    font-weight: bold;
}

h4 {
    font-size: .8rem;
}

img {
    width: 100%;
    display: block;
}


/**********UTILITIES*************/

.bg-blu{
    background-color: #3a546d ;
}


/* ****** NAV********* */

nav a{
    text-decoration: none;
}

nav li{
    list-style: none;
}

nav [class^=col-]{
    padding-top: 1rem;
}

/* *****CONTACT****** */
.form-control{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}

.btn-success{
    /* button */
    --bs-btn-bg: #1abc9c;
    --bs-btn-border-color: #1abc9c;
    --bs-btn-hover-bg: #20e4bd;
    --bs-btn-hover-border-color: #20e4bd;
    --bs-btn-active-bg: #419e8c;
    --bs-btn-active-border-color: #419e8c;
    --bs-btn-disabled-bg: #1abc9c;
    --bs-btn-disabled-border-color: #1abc9c;
}

/* *******INFO******* */
.social button{
    width: 2.5rem;
    aspect-ratio: 1/1;
}


