:root{
    --bs-link-color: white;
}

body{
    font-family: 'Roboto', sans-serif;
}

section{
    padding: 3rem 0;
    text-align: center;
}

h3 {
    font-size: 1rem ;
    font-weight: bold;
}

h4 {
    font-size: .8rem;
}

img{
    width: 100%;
    display: block;
    border-radius: 10Dpx;
}

/* ****** NAV********* */

nav a{
    text-decoration: none;
}

nav li{
    list-style: none;
}

nav [class^=col-]{
    padding-top: 1rem;
}


/* ************** */

.fa-facebook-f{
    padding: .5rem .7rem;
}

.fa-google-plus-g{
    padding: .5rem .4rem;
}
/* *********** */
.form-control{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-radius: 0;
}